{% extends "base.html" %}

{% block content %}
	<form method="POST">
			Login : <br><input type="text" name="username" /><br>
			Email : <br><input type="email" name="email" /><br>
			Password : <br><input type="password" name="password" /><br>
			Confirm password : <br><input type="password" name="password2" /><br>
			<input type="submit" class="submit" />
			<!--<input type="submit" class="cancel" />-->
		</form>
		{% if error %}
			<strong>Error:</strong> {{ error }}
		  {% endif %}
{% endblock %}